---
import CategoryNav from "./CategoryNav.astro";
import { Icon } from "astro-icon";
import categorias from "../data/categorias.json";
---

<!-- src/components/Header.astro -->
<header
  class="sticky top-0 z-50 bg-black/90 backdrop-blur-sm text-white border-b border-purple-900/30"
>
  <div class="container mx-auto px-4 py-3">
    <div class="flex justify-between items-center">
      <a
        href="/"
        class="text-4xl font-bold bg-gradient-to-r from-purple-600 to-blue-500 bg-clip-text text-transparent"
      >
        TechFusion
      </a>

      <nav class="hidden md:flex space-x-6">
        <a
          href="/"
          class="hover:text-purple-400 transition duration-200 font-bold border border-purple-500 px-2 py-1 text-sm rounded-full hover:bg-purple-500 hover:text-white hover:scale-105"
          >Inicio</a
        >

        <a
          href="/productos/celulares"
          class="hover:text-purple-400 transition duration-200 font-bold border border-purple-500 px-2 py-1 text-sm rounded-full hover:bg-purple-500 hover:text-white hover:scale-105"
          >Celulares</a
        >

        <a
          href="/productos/portatiles"
          class="hover:text-purple-400 transition duration-200 font-bold border border-purple-500 px-2 py-1 text-sm rounded-full hover:bg-purple-500 hover:text-white hover:scale-105"
          >Portátiles</a
        >

        <a
          href="/productos/relojes"
          class="hover:text-purple-400 transition duration-200 font-bold border border-purple-500 px-2 py-1 text-sm rounded-full hover:bg-purple-500 hover:text-white hover:scale-105"
          >Smartwatches</a
        >

        <a
          href="/productos/tablets"
          class="hover:text-purple-400 transition duration-200 font-bold border border-purple-500 px-2 py-1 text-sm rounded-full hover:bg-purple-500 hover:text-white hover:scale-105"
          >Tablets</a
        >
      </nav>

      <div class="flex items-center space-x-4">
        <button
          class="p-2 rounded-full hover:bg-purple-900/50 transition duration-200"
        >
          <Icon name="search" class="w-5 h-5" />
        </button>
        <button
          class="p-2 rounded-full hover:bg-purple-900/50 transition duration-200"
        >
          <Icon name="shopping-cart" class="w-5 h-5" />
        </button>
        <button
          class="md:hidden p-2 rounded-full hover:bg-purple-900/50 transition duration-200"
        >
          <Icon name="menu" class="w-5 h-5" />
        </button>
      </div>
    </div>
  </div>
</header>
